<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 <mapper namespace="com.practice.todolist.dao.TodoDao">

<resultMap type="com.practice.todolist.vo.Todo" id="todoMapping">
	<result property="todoSeq" column="todo_seq"/>
	<result property="title" column="title"/> 
	<result property="content" column="content"/>
	<result property="startDate" column="start_date"/>
	<result property="endDate" column="end_date"/>
	<result property="important" column="important"/>
	<result property="complete" column="complete"/>
	<result property="registeredUserSeq" column="registered_user_seq"/>
	<collection
		property="shareUsers"
		javaType="java.util.ArrayList"
		ofType="com.practice.todolist.vo.User"
		column="{todoSeq=todoSeq}"
		select="getShareUsers"/>
</resultMap>
	<select id="getShareUsers" resultType="com.practice.todolist.vo.User">
		SELECT
			u.user_seq AS userSeq,
			u.id,
			u.name,
			u.password
		FROM
			user u,
			registered_todo rt
		WHERE
			rt.user_seq = u.user_seq AND
			rt.todo_seq = #{todoSeq}
	</select>
	<!-- 
	<insert id="addRegisteredTodo" parameterType="com.practice.todolist.vo.Todo">
		INSERT INTO registered_todo (
			todo_seq,
			user_seq
		) VALUES (
			#{todoSeq},
			#{registeredUserSeq}
		)
			
	</insert>
	 -->

	<insert id="addTodo" parameterType="com.practice.todolist.vo.Todo">
		INSERT INTO todo
		(
			todo_seq,
			title,
			content,
			start_date,
			end_date,
			important,
			complete,
			registered_user_seq
		)
		VALUES
		(
			#{todoSeq},
			#{title},
			#{content},
			#{startDate},
			#{endDate},
			#{important},
			#{complete},
			#{registeredUserSeq}
		)
		
	</insert>
	
	<insert id="addShareUsers" parameterType="com.practice.todolist.vo.Todo">
		INSERT INTO registered_todo(
			todo_seq,
			user_seq
		) VALUES 
		<foreach collection="shareUsers" item="userSeq" separator=",">
			(
			#{todoSeq},
			#{userSeq}
			)
		</foreach>
	
	</insert>
	<select id="selectByMyTodo" parameterType="String" resultMap="todoMapping">
		SELECT
			t.todo_seq AS todoSeq,
			t.title,
			t.content,
			date_format(t.start_date,'%Y-%m-%d') as startDate,
			date_format(t.end_date,'%Y-%m-%d') as endDate,
			t.important,
			t.complete,
			t.registered_user_seq AS registeredUserSeq
		FROM
			todo t,
			user u
		WHERE
			t.registered_user_seq = u.user_seq
	</select>
</mapper>